In [4]:
import pandas as pd  
import numpy as np 
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
marvel_df = pd.read_csv('/home/blair/cognixia_workspace/jumplus/JUMPlus/marvel/charcters_stats.csv')
marvel_df.drop_duplicates()
marvel_df.dropna()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [15]:
marvel_df.head(1)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233

In [13]:
rows = marvel_df.shape[0]
columns = marvel_df.shape[1]

f'Rows = {rows} | Columns = {columns}'

'Rows = 611 | Columns = 9'